/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap';
// html, body { height: 100%; }
// body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@import '~@angular/material/theming';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat-core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$webfirewall-primary: mat-palette($mat-indigo);
$webfirewall-accent: mat-palette($mat-pink, A200, A100, A400);

// The warn palette is optional (defaults to red).
$webfirewall-warn: mat-palette($mat-red);

// Create the theme object (a Sass map containing all of the palettes).
$webfirewall-theme: mat-light-theme($webfirewall-primary, $webfirewall-accent, $webfirewall-warn);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include angular-material-theme($webfirewall-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 10%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
 }
.form-group.required .form-control-label:after {
    content:"*";
    color:red;
  }

.tableheight{
    overflow-y:auto;
    height:26rem;
}

.mat-progress-spinner circle, .mat-spinner circle {
  stroke: #40576d;
}

.modal-header .close{
  outline: none
}